<div>
  <form ngSubgmit="onSave(ticketForm)" #ticketForm="ngForm">
      <input type="description" class="form-control" id="name" 
      name="name" ngModel>
      <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          <button type="submit">
              Create
          </button>
        </div>
  </form>
</div>